@import '@fontsource/fira-mono';

:root {
	--font-body: 'Roboto', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-1: #000022;
	--color-bg-2: #002200;
	--color-bg-3: #000011;
	--color-theme-1: #1122bb;
	--color-theme-2: #772507;
	--color-text: rgba(180, 180, 24, 0.9);
	--color-link-text: rgba(255, 255, 0, 1);
	--color-link-bg: rgba(24, 24, 180, 0.9);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

/* Ubuntu, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
		Cantarell, 'Open Sans', 'Helvetica Neue',  */

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-stretch: expanded; /* Or expanded */
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
  border: 0;
}

button:hover {
	color: var(--color-link-text);
	background-color: var(--color-link-bg);
  transition: color 0.2s ease, background-color 0.2s ease;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.undisplayable {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.message {
	background-color: rgba(0,255,255,0.8);
  color: black;
  padding: 6px;
	border-bottom: solid 4px rgba(0,0,0,0.7);
	border-right: solid 4px rgba(0,0,0,0.7);
}

.error {
	color: red;
	background-color: rgba(0,255,255,0.8);
	border-bottom: solid 4px rgba(0,0,0,0.7);
	border-right: solid 4px rgba(0,0,0,0.7);
	padding: 5px;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.mobile-undo-row {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.computer-undo-row {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.not-on-media {
  @media (max-width: 768px) {
    display: none
  }
}
.only-on-media {
  display: none;
  @media (max-width: 768px) {
    display: block
  }
}

.full-width {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}
